*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a,
a:hover,
a:visited,
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.85rem;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: hsl(212, 46%, 61%);
}
h1,
h2,
h3 {
  line-height: 1.1;
}
h1 {
  font-size: calc(2rem + 2vw);
  display: flex;
  align-self: center;
  color: hsla(180, 3%, 7%, 0.788);
  padding: 4rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: hsla(50, 46%, 18%, 0.623);
  color: hsl(204, 8%, 88%);
  padding: 2rem;
  border-radius: 12px;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
  }
  body {
    min-height: 100vh;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #202020;
    background-image: url("./src/assets/images/fog-wallpaper-3840x2160-landscape-4k-18339.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% center;
  }
  h1 {
    margin-top: 6.25rem;
  }
}
