html,
body {
  height: 100%;
}
body {
  @include flex-column;
  background-color: $color-background;
  overflow-x: hidden; // move to layout

  //min-height: 100vh;
  background-color: #202020; // fallback
  background-image: url("./src/assets/images/fog-wallpaper-3840x2160-landscape-4k-18339.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}