.container {
min-height: 80vh;
  overflow: auto;

  align-items: center;
  @include flex-column;

  @include mediaq(desktop) {


    margin: 0 auto;
  }
}

.content {
  //flex: 1 1 10vh;
  //padding-bottom: 1rem;

  @include flex-column;

  @include mediaq(desktop) {
    @include flex-row;

    //max-width: 80vw;
  }
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

// https://www.w3schools.com/howto/howto_css_dividers.asp
/* Solid border */
hr.solid {
  background-image: $gradient-linear;
  border: 0;
  height: 1px;
}