$color-primary: rgba(33, 33, 33, 0.68);

$color-primary-light: #0097fe;

$color-primary-dark: #212121;
$color-secondary: #513535;
$color-secondary-light: #513535;
$color-secondary-dark: #513535;

$color-tertiary: #bc7725;

$color-tertiary-light: #b5a188;
$color-tertiary-dark: #56390a;
$color-castleton: #00563B;
$color-background: #212121;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #9794944C;
$color-success: rgb(92, 219, 92, 90%);
$color-warning: #D38209FF;
$color-error: #ec0000;
$btn-primary: $color-primary;
$btn-secondary: $color-secondary;
$btn-tertiary: $color-tertiary;
$color-facebook: #4267B2;
$color-github: #6e5494;
$color-linked: #0e76a8;
$box-shadow-default: 0 0.5rem 1.5rem rgba(#000, 0.15);
$box-shadow-hover: 0 0.5rem 3rem rgba(#000, 0.2);
$box-shadow-cta: 0 0rem 10rem rgba(#fff, 0.8);
$box-shadow-front: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(204, 201, 201, 0.75);
$box-shadow-card: 0 20px 40px -1px rgba(0, 0, 0, 0.25);
$font-size-default: clamp(1.125rem, 1.1vw, 1.8rem);
$font-size-heading: clamp(1.2rem, 2vw, 3rem);
$font-size-small: clamp(0.875rem, 0.99vw, 1.2rem);
$font-size-button: clamp(1.1rem, 1.8vw, 2rem);

$font-line-height-default: 1.4;
$font-line-height-heading: 1.6;
$font-line-height-button: 1.6;
$font-chat: Arial Narrow, sans-serif;
$font-body: Georgia, "Times New Roman", Times, serif;
$font-heading: Morpheus, sans-serif;
$font-weights: (
        "light": 300,
        "regular": 400,
        "medium": 500,
        "semi-bold": 600,
        "bold": 700,
        "extra-bold": 800,
        "black": 900,
);
$gradientA: $color-tertiary;
$gradientB: $color-primary-light;
$gradient-linear: linear-gradient(to right, $gradientA, $gradientB);
body {
  font-family: $font-body;
  font-size: $font-size-default;
  line-height: $font-line-height-default;
  font-weight: map-get($font-weights, medium);
  color: $color-white;

}

h1, h2, h3 {
  font-family: $font-heading;
  line-height: $font-line-height-heading;
  font-size: $font-size-heading;
  font-weight: map-get($font-weights, bold);
}

p {
  font-family: $font-body;
  font-size: $font-size-default;
  font-weight: map-get($font-weights, regular);
  line-height: $font-line-height-default;
  color: $color-white;
}

.title {
  background-image: $gradient-linear;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


.card {
  box-shadow: $box-shadow-card;
  overflow: hidden;
  background-color: hsla(50, 46%, 18%, 0.623); // Change to variable
  //background-color: hsla(50, 46%, 18%, 0.623); // Change to variable
  color: hsl(60, 8%, 88%); // Change to variable
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  line-height: 1.5;

}

.card_image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;

  & img {
    max-width: 80vw;
  }

  .card_title {
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 2rem;

  }
}


