a,
a:hover,
a:visited,
a:active {
  color: $color-white;
  text-decoration: none;
  position: relative;
}

.link {
  text-decoration: underline;

  &--cta {
    color: $color-white;
    font-size: 1.8rem;
    margin-left: 3rem;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-around;
  z-index: 100;

  @include mediaq(tablet-landscape) {

  }

  @include mediaq(desktop) {
    width: 30%;

  }

  li {
    list-style: none;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
    color: darken($color-primary-light, 10%);

    &:hover {
      color: $color-primary-dark
    }

    &:after {
      background-color: $color-white;
      content: "";
      position: absolute;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
      flex: -1;
    }

    &:hover:after {
      width: 100%;
    }
  }

}