// TODO: Correct this modal
.modal-container {
  display: none;
  top: 0;
  z-index: 99;
  place-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-background;
}

.modal-content {
  max-width: max-content;
}

.img-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-image {
  display: block;
  height: 100%;
  max-width: 100%;
  padding: 10px;
  margin: auto;
  background: $color-background;
}

.close {
  padding: 15px 20px;
  border-radius: 50%;
  left: 5%;
  top: 5%;
  color: $color-black;
  background: $color-white;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: none;
  }

}

@media screen and (min-width: 800px) {
  .modal-content {
    margin: 5% auto;
  }
  .modal-image {
    width: 1000px;
  }
}
